---
title: Pagina home
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    {{ 'application.css' | stylesheet_tag }}
    {{ 'vendor/modernizr.min.js' | javascript_tag }}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% inline_editor %}
  </head>
  <body>
    {% block 'main' %}
        <div class="row">
            <div class="large-12 columns">
               <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/"> <img src="/images/logo_fucinadeltag_trasparente.png"></a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon">
                            <a href="/"><span>menu</span></a>
                        </li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="divider"></li>
                            <li>
                                <a href="#titleCosaFacciamo">Cosa Facciamo</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#titleIlMetodo">Il metodo</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#titleNoCompromessi">I principi!</a>
                            </li>
                            <li class="divider"></li>
                            {% comment %}<li>
                                <a href="#lavori">I nostri lavori</a>
                            </li>
                            <li class="divider"></li>{% endcomment %}
                            <li>
                                <a href="#preventivi">Preventivi</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </section>
               </nav>
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns">
                <div>
                    <ul data-orbit data-options="pause_on_hover:false;timer:true;timer_speed:5000;bullets:false;slide_number:false;navigation_arrows:true;">
                        <li class="active">
                            <img src="http://placehold.it/1200x400/FFFF00/000000&text=Web+Marketing+per+Vendere" title="slide 1" />
                        </li>
                        <li>
                            <img src="http://placehold.it/1200x400/08E8DE/000000&text=Social+Media+Marketing" title="slide 2" />
                        </li>
                        <li>
                            <img src="http://placehold.it/1200x400/00ff00/000000&text=SEO+e+Search+Engine+Marketing" title="slide 3" />
                        </li>
                    </ul>
                </div>

            </div>
        </div>


         <p/>

         <div class="row">
            <div class="small-12 columns" >
            <h3 id="titleCosaFacciamo" class="subheader">Cosa facciamo</h3>
            <hr>
                <div class="row" data-equalizer="cosaFacciamo">
                    <div class="medium-6 columns">
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-lightbulb-o"></i> Strategie di Marketing - Studi fattibilità</h5>
                            <hr>
                            <p class="small italic">Il mio prodotto è vendibile online? Come? quanto costa?
                            Cosa mi serve? Su quali media comunicare?</p>
                            <p class="small">
                            Ti aiutiamo a capire e realizzare la giusta strategia per lo sviluppo del tuo buisness online.
                            </p>
                        </div>
                    </div>
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius"  data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-bullseye"></i> SEM - Search engine Marketing</h5>
                            <hr>
                            <p class="small italic">
                                Adwrords? Parole chiave? Rete ricerca, rete display? Quanto costa portare traffico al mio sito? Come intercettare le ricerche di chi vuole il mi prodotto?
                            </p>
                            <p class="small">
                                Progettiamo e realizzaimo campagne SEM gestendo in autonomia tutto il processo: dalla scelta delle migliori parole chiave per il vostro business, agli annunci, fino alla pagina di atterraggio a sequito dei click!
                                Il nostro compito sarà far fruttare al meglio il vostro budget pubblicitario!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" data-equalizer="cosaFacciamo">
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-bullhorn"></i> Display Advertising</h5>
                            <hr>
                            <p class="small italic">
                                Vorrei che i miei banner comparissero su alcuni siti, è possibile? Fate campagne banner? Quanto costano?
                            </p>
                            <p class="small">
                                Ci occupiamo di realizzare ed ottimizzare le vostre campagne di display advertising! Con un attenta gestione che passa dalla realizzazione dei banner fino alla pagina di atterraggio della vostra campagna.
                                Ottimizziamo ogni aspetto della v0stra campagna.
                            </p>
                        </div>
                    </div>
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-google"></i> Seo - Search Engine Optimization</h5>
                            <hr>
                            <p class="small italic">
                                Come faccio ad essere nella prima pagina nei risultati di ricerca di google? Come si diventa primi? Quanto costa?
                            </p>
                            <p class="small">
                                Nessuna magia, nessuna garanzia di prima pagina. Sappimao come fare in modo che google incizizzi il vostr sito, ma non
                                possimao garantirvi che diventerete i primi!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" data-equalizer="cosaFacciamo">
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-facebook"></i> Social media Marketing</h5>
                            <hr>
                            <p class="small italic">
                                La mia fan page ha pochi fan, come faccio ad aumentarli? Devo esserci su FB, ci sono utti i miei competitor? Twitter, Pinterest, Instagram? Devo essereci?
                            </p>
                            <p class="small">
                                Capiamo dove sono i vostri potenziali clienti, quali bisongi hanno e come raccontargli la vostra azienda. I socialnetwork sono uno dei luoghi in cui le persone si trovano!
                            </p>
                        </div>
                    </div>
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-pencil"></i> Content Marketing</h5>
                            <hr>
                            <p class="small italic">
                                Devo avere un blog? Cosa scrivo? Quali contenuti postare sulla mia fan page? Che tono devo usare?
                            </p>
                            <p class="small">
                                Prima di tutto conosciamo i tuoi clienti e i loro bisongi! Poi capiamo se possiamo dirgli qualcosa che li aiuti a capire che il vostro prodotto o bisogno li aiuteranno.
                                Solo a questo punto è il momento di pensare a cosa scrivere, solo se ne vale la pena.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" data-equalizer="cosaFacciamo">
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-bar-chart"></i> Web Analitycs</h5>
                            <hr>
                            <p class="small italic">
                                Quanti visitatori ha il mio sito? La mia attività sta andando bene? Quali investimenti fare in futuro?
                            </p>
                            <p class="small">
                                Ogni investimento deve essere attentamente valutato. I sisultati devono essere misurati e messi a disposizione di chi ha deciso e drovrà continuare a prendere delle decisoni.
                                Basiamo il nostro lavoro sui numeri, sappiamo come interpretarli per raggiungere i vostri obiettivi.
                            </p>
                        </div>
                    </div>
                    <div class="medium-6 columns" >
                        <div class="panel-yellow radius" data-equalizer-watch="cosaFacciamo">
                            <h5><i class="fa fa-code"></i> Sviluppo Software - Ecommerce</h5>
                            <hr>
                            <p class="small italic">
                                Devo sviluppare una APP, ve ne occupate? Crco un programmatore che mi aiuti ad integrare il mio CRM con il sito di Ecommerce e la campagna di Lead Generation, potete farlo?
                            </p>
                            <p class="small">
                                Abbiamo un'esperienza decennale nello sviluppo del sofware e dell'integrazine tra diverse piattaforme. Possiamo affiancarvi i tutte le vostre esigenze.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h3 id="titleIlMetodo" class="subheader">Il metodo</h3>
                <p>
                    <h5>
                            Applichiamo rigorosamente un <strong>metodo in 3 fasi</strong> che ci permette di essere veloci, efficienti ed efficaci. Nessuno spreco.<br />
                        </i>
                    </h5>
                </p>
                <hr>
                <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                        <a href="#fattibilita"><h5>1. Studio di Fattibilità e strategia</i></h5></a>
                        <div id="fattibilita" class="content">
                            <div class="small-12 columns">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <p><h4>Alcune domande:</h4></p>
                                        <hr>
                                        <ul>
                                            <li>
                                                Quale potenziale ritorno posso avere da questa campagna? Che fatturato posso attendermi?
                                            </li>
                                            <li>
                                                Di quali strumenti devo dotarmi? Basta una landing Page? Devo dotarmi di un sito di commercio elettronico o per ora basta un mini sito?
                                            </li>
                                            <li>
                                                Quali canali pubblicitari sono i più convenienti e quale budget allocare su ciascuno per poterne valutare l’effettiva efficacia? (Adwords? Rete dsiplay di Adwords? Retargeting? Facebook? Altri social network?)
                                            </li>
                                            <li>
                                                Quale linguaggio usare, quali parole chiave usare con maggiore efficacia? Quali termini usano i miei clienti per descirvere il problema che intendo risolvere?
                                            </li>
                                            <li>
                                                Chi sono i miei competir online? Cosa fanno? Quali canali presidiano e come?
                                            </li>
                                            <li>
                                                Quali KPI (key performance indicator) monitorare e quali strumenti necessari per misurare gli obiettivi?
                                                Ordini e costo di acquisizione ma quali altri numeri leggere per comprendere se stiamo procedendo nel modo corretto?
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <hr>
                                        <h4>Come rispondiamo a queste domande?</h4>
                                        <hr>
                                        <div class="row metodo">
                                            <div class="medium-4 columns">
                                                <div class="panel-yellow radius">
                                                    <h5>Studio delle persone</h5>
                                                    A chi ci rivolgiamo?
                                                    <hr>
                                                    <p>
                                                        Fondamentale per la riuscita di una campagna di marketing è conoscere le persone a
                                                        cui comunicare. Delineare un profilo il più possibile dettagliato di queste persone
                                                        è l’obiettivo di questo primo passo.
                                                    </p>
                                                    <p>
                                                        <a href="#" data-reveal-id="studioPersone">Approfondisci!</a>
                                                    </p>

                                                    <div id="studioPersone" class="reveal-modal" data-reveal aria-labelledby="studioPersoneTitle" aria-hidden="true" role="dialog">

                                                        <h4 id="stesuraStrategiaTitle">Attraverso lo studio delle persone sapremo:</h4>
                                                        <ol>
                                                            <li>
                                                                Quali sono i reali bisogni di queste persone!
                                                            </li>
                                                            <li>
                                                                Cosa li rassicura, quali concetti sono importanti per loro!
                                                            </li>
                                                            <li>
                                                                Dove si trovano online, cosa cercano, che luoghi frequentano
                                                            </li>
                                                            <li>
                                                                Quale linguaggio usare. Quali parole chiave sono più efficaci per loro.
                                                            </li>
                                                        </ol>
                                                        <p>
                                                            Sarà il frutto di questo lavoro a guidarci nelle scelte
                                                            strategiche della campagna. Il punto focale a cui fare riferimento ogni qual volta che ci
                                                            saranno decisioni da prendere.
                                                        </p>
                                                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="medium-4 columns">
                                                <div class="panel-yellow radius">
                                                    <h5>Analisi del settore online</h5>
                                                    Competitor e Influenzatori?
                                                    <hr>
                                                    <p>
                                                        Conosciamo la persona a cui parlare e i suoi bisogni. La domanda che ci faremo sarà:
                                                        chi altro online sta parlando a questa persona? Chi altro sta cercando di rispondere ai
                                                        suoi bisogni?
                                                    </p>
                                                    <p>
                                                        <a href="#" data-reveal-id="analisiCompetitor">Approfondisci!</a>
                                                    </p>

                                                    <div id="analisiCompetitor" class="reveal-modal" data-reveal aria-labelledby="analisiCompetitorTitle" aria-hidden="true" role="dialog">

                                                        <h5 id="analisiCompetitorTitle">Attraverso l'analisi del settore online sapremo:</h5>
                                                        <ol>
                                                            <li>
                                                                Chi sono i potenziali competitor presenti online
                                                            </li>
                                                            <li>
                                                                Quanto dovremo spendere indicativamente per essere incisivi online (meno competizione = meno spesa)
                                                            </li>
                                                            <li>
                                                                Quali “luoghi” sono più requentati dalla persona a cui dobbiamo comunicare
                                                            </li>
                                                            <li>
                                                                Chi sono i maggiori influenzatori nel settore
                                                            </li>
                                                            <li>
                                                                Quali sono i canali di comunicazine più “convenienti”
                                                            </li>
                                                        </ol>
                                                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                                        <p>
                                                            Grazie a diversi strumenti del web, tra cui i motori di ricerca, i social network e le
                                                            piattaforme di web marketing siamo in grado di raggiungere un buon livello di
                                                            conoscenza del settore dei nostri clienti.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="medium-4 columns">
                                                <div class="panel-yellow radius">
                                                    <h5>Stesura della strategia</h5>
                                                    Cosa deve fare per essere efficaci?
                                                    <hr>
                                                    <p>
                                                        Conoscendo persone e mercato di riferimento, sbbiamo una visione d’insieme
                                                        che a questo punto ci permette di formulare alcune ipotesi su come potremmo procedere per raggiungere il nostro obiettivo.
                                                    </p>
                                                    <p>
                                                        <a href="#" data-reveal-id="stesuraStrategia">Approfondisci!</a>
                                                    </p>

                                                    <div id="stesuraStrategia" class="reveal-modal" data-reveal aria-labelledby="stesuraStrategiaTitle" aria-hidden="true" role="dialog">

                                                        <h4 id="stesuraStrategiaTitle">Dalineata la strategia sapremo:</h4>
                                                        <ol>
                                                            <li>
                                                                Quanto fatturato è plausibile che venga generato dalla campagna!
                                                            </li>
                                                            <li>
                                                                Di quali strumenti dovrà dotarsi il nostro cliente
                                                            </li>
                                                            <li>
                                                                Su quali canali pubblicitari sarà opportuno investire
                                                            </li>
                                                            <li>
                                                                Quale linguaggio usare. Quali parole chiave sono più efficaci per i nostri potenziali clienti.
                                                            </li>
                                                            <li>
                                                                Quali competior monitorare e quali influencers farci amici.
                                                            </li>
                                                            <li>
                                                                Quali numeri tenere d'occhio per misurare la risucita della campagna (Key performance indicators)
                                                            </li>
                                                        </ol>
                                                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <h6>
                                    <i>
                                        <strong>Spesso l’esito di questa fase di studio è quello di sconsigliare le campagne di web marketing al nostro cliente</strong>.
                                        Il web può anche rivelarsi come inefficace o troppo costoso per il settore del nostri cliente,
                                        tanto da sconsigliare anche una semplice fase di test.
                                    </i>
                                <h6>
                            </p>
                        </div>
                    </dd>
                    <p />
                    <dd class="accordion-navigation">
                        <a href="#faseTest">
                            <h5>2. Test e avviamento progetto</h5>
                        </a>
                            <div id="faseTest" class="content">
                                <ul class="large-block-grid-1">
                                    <li>
                                        <p>
                                            <h4>Alcune domande:</h4>
                                            <hr>
                                        </p>
                                        <ul>
                                            <li>
                                                Qualcuno è interessato al mio prodotto o al mio servizio?
                                            </li>
                                            <li>
                                                Quanto mi costa ogni contatto commerciale? Quanto mi costerà acquisire ogni cliente?
                                            </li>
                                            <li>
                                                Quali strumenti o canali pobblicitari danno i migliori risultati tra quelli individuati nella strategia iniziale?
                                            </li>
                                            <li>
                                                Quali canali pubblicitari sono i più convenienti e quale budget allocare su ciascuno per poterne valutare l’effettiva efficacia? (Adwords? Rete dsiplay di Adwords? Retargeting? Facebook? Altri social network?)
                                            </li>
                                            <li>
                                                Il web può veramente farmi aumentare le vendite?
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <p>
                                            <hr>
                                            <h4>Come rispondiamo a queste domande?</h4>
                                            <hr>
                                        </p>

                                        <ul class="large-block-grid-2">
                                            <li>
                                                <div class="panel-yellow radius metodo">
                                                <h5>MVP - Minimum Viable Product</h5>
                                                Verifica delle idee e delle ipotesi il prima possibile!
                                                <hr>
                                                <p>
                                                    La strategia delineata nella fase 1 avrà indicato quali saranno gli strumenti minimi di cui dotarsi per verificare l’efficacia di una campagna di web marketing.
                                                </p>

                                                <p>
                                                    E’ importante testare il prima possibile la veridicità delle ipotesi formulate. Per questo la strategia si realizza sempre a piccoli passi e si procede gradualmente solo dopo averne
                                                    verificato l’efficacia con gli opportuni strumenti di misurazione.
                                                </p>
                                                <p>

                                                    Relizzeremo il minimo indispensabile per verificare le ipotesi formulate nella fase di studio.
                                                </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="panel-yellow radius metodo">
                                                <h5>Un esempio di MVP</h5>
                                                Non serve quasi nulla per valutare un'idea!
                                                <hr>
                                                <p>
                                                    <strong>Spesso basta un semplice Landig Page</strong> dove presentare il proprio prodotto o servizio.
                                                    Sarà sufficiente portare visitatori a questa pagina invitandoli a compiere una azione che manifesti la loro disponibilità all'acquisto.
                                                    Di seguito gli elementi tipici di una fase di test:
                                                    <ol>
                                                        <li>
                                                            Realizzazione di una landing page o minisito
                                                        </li>
                                                        <li>
                                                            Messa in opera e test degli strumenti di misurazione
                                                        </li>
                                                        <li>
                                                            Avviamento eventuali campagne adwords e rete display con conseguente spesa pubblicitaria.
                                                        </li>
                                                        <li>
                                                            Avviamento eventuale campagna Facebook o altro social network con conseguente spesa pubblicitaria
                                                        </li>
                                                    </ol>
                                                </p>
                                                </div>
                                            </li>

                                        </ul>

                                    </li>
                                </ul>
                                <p>
                                    <h6>
                                        <i>
                                            Quanto realizzato in questa fase sarà il <strong>punto di partenza per gli sviluppi successivi</strong>.
                                            Sarete sorpresi dall'apprendere che gli sviluppi suggeriti dai dati reali saranno del tutto inaspettati.
                                        </i>
                                    <h6>
                                </p>
                            </div>
                    </dd>
                    <p />
                    <dd class="accordion-navigation">
                        <a href="#conversionOptimization"><h5>3. Messa a regime e sviluppo continuo -  Conversion Optimization (CRO)</h5></a>
                        <div id="conversionOptimization" class="content">
                            <ul class="large-block-grid-1">
                                <li>
                                        <p>
                                            <h4>Alcune domande:</h4>
                                            <hr>
                                        </p>
                                        <ul>
                                            <li>
                                                Ok l'idea può funzionare, come procediamo ora, quali priorità?
                                            </li>
                                            <li>
                                                Come posso ottimizzare quanto fatto fin'ora?
                                            </li>
                                            <li>
                                                C'è spazio per aumentare il fatturato?
                                            </li>
                                            <li>
                                                Quali nuovi servizi posso offrire ai miei clienti?
                                            </li>

                                        </ul>
                                </li>
                                <li>
                                    <p>
                                        <hr>
                                        <h4>Come rispondiamo a queste domande?</h4>
                                        <hr>
                                            <h6><strong>Attraverso un processo di ottimizzazione costante organizzato in cicli di 4 fasi</strong>. Ogni ciclo avrà durata massima di 3 mesi e avrà degli obiettivi definiti e misurabili.</h6>
                                        <hr>
                                    </p>

                                    <ul class="large-block-grid-2">
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Ipotesi</h5>
                                                <hr>
                                                <p>
                                                    Come possimao migliorare il rendimento della campagna? Cambiamo questa foto? Riscriviamo questo testo? Aggiungiamo questa importante funzionalità?
                                                    Si formulano delle ipotesi, si fanno dei ragionamenti e si studia a come poterli verificare sulla base di tempi e costi.
                                                    Si danno delle priorità...
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Realizzazione</h5>
                                                <hr>
                                                <p>
                                                    E' il momento di realizzare quanto occorre per verificare le ipotesi della fase precedente.
                                                    Si realizzano le modifiche, si aggiorna il tesato, si modificano le immagini, si realizzano le nuove funzionalità.
                                                    Sulla base delle priorità si sceglie cosa realizzare in questa fase del ciclo.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Misurazione</h5>
                                                <hr>
                                                <p>
                                                    E' il momento in cui le novità vengono messe online e "girano". In questa fase si raccolgino dati, si misurano
                                                    i risultati sulla base di quelle KPI individuate e affinate nella fase preliminare e a seguito della orima fase di test.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Conclusioni</h5>
                                                <hr>
                                                <p>
                                                    Abbiamo raccolto abbastanza dati per poter trarre delle clnclusioni. Le nostre ipotesi si sono rivelati corretti?
                                                    Cosa abbiamo imparato? Cos'aptro possiamo fare?
                                                    Si giunge cocsì a formulare nuove ipitesi e il ciclo riprende.
                                                </p>
                                            </div>
                                        </li>


                                    </ul>
                                    <li>
                                    <p>
                                        <hr>
                                        <h4>I vantaggi del metodo "ciclico"</h4>
                                        <hr>
                                    </p>

                                    <ul class="large-block-grid-3">
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Investimenti misurati</h5>
                                                <hr>
                                                <p>
                                                    Il tempo massimo consigliato per ogni ciclo è di 3 mesi, anche se dipende da variabili come traffico generato, possibilità di raccogliere dati validi in tempi brevi, tempi di sviluppo ecc...
                                                </p>
                                                <p>
                                                    In caso di ipotesi errate si saranno spercati al massimo 3 mesi di lavoro
                                                    Non un intero progetto da buttare! Non anni di investimento. Solo pochi mesi!
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Agilità e velocità</h5>
                                                <hr>
                                                <p>
                                                    Lavorando in questo modo siamo liberi di reagire prontamente a novità e cambiamenti
                                                    che inevitabilmente si verificheranno nei settori dei nostri clienti.
                                                </p>
                                                <p>
                                                    <strong>Punti fermi restano gli obiettivi di vendita, la sostenibilità in temrini di costi e i desideri dei clienti.</strong>
                                                    Il resto potrà cambiare senza nessuna preclusione!
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="panel-yellow radius metodo">
                                                <h5>Nessuna distrazione!</h5>
                                                <hr>
                                                <p>
                                                    Procedendo in questo modo, il progetto rimane centrato sugli obiettiivi. Tutto ciò che non porta ad un miglioramento dell'obiettivo
                                                    non viene realizzato.
                                                </p>
                                                <p>
                                                    Non decide il capo, o il consulente dell'agenzia di turno, saranno i dati, i numeri a guidare lo sviluppo del progetto.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                            <p>
                                <h6>
                                    <i>
                                        Incomincia un lungo lavoro di ottimizzazione. Ipotesi, test, apprendimento, nuove ipotesi... tutto al fine di ottimizzare
                                        lo sforzo economico. <strong>Conversion Optimization (CRO), uno sviluppo continuo</strong>.
                                    </i>
                                </h6>
                            </p>
                        </div>
                    </dd>
                </dl>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h3 id="titleNoCompromessi" class="subheader">I principi fondamentali!</h3>
                <p>
                    <h5>
                            Abbiamo dei principi che ispirano il nostro lavoro. <strong>Non scendiamo a compromessi</strong>.
                    </h5>
                </p>
                <hr>
                <ul class="large-block-grid-2">
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#vendite"><h5><i class="fa fa-eur"></i> Vendite, non esiste altro obiettivo!</h5></a>
                            <div id="vendite" class="content">
                                <p>
                                    Le aziende per cui lavoriamo hanno sempre un solo obiettivo: <strong>VENDERE</strong>.
                                </p>
                                <p>
                                    Può trattarsi di prodotti o di servizi, il concetto non cambia. Una qualsiasi campagna pubblicitaria ha, come ultimo obiettivo, un aumento delle vendite!
                                </p>
                                <p>
                                    La vendita diretta (e-commerce) o mediata da un contatto (lead generation) è sempre l'unico obiettivo dell nostre campagne.
                                    Misuriamo il successo del nostro lavoro basandoci su due numeri (KPI):
                                    <ol>
                                        <li>
                                            <strong>Fatturato</strong> - Quanto ho fatturato a seguito di questa campagna di web marketing?</strong>
                                        </li>
                                        <li>
                                            <strong>Costo di acquisizione</strong> - Quanto mi è costato ogni singolo ordine?
                                        </li>
                                    </ol>
                                </p>
                                <p>
                                    <h6>
                                        <i>
                                            Non ha senso parlare di engagement, contare i fan su Facebook o le visite ad un sito se nessuno compra quello che avete da vendere!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#persone"><h5><i class="fa fa-users"></i> Le persone al centro!</h5></a>
                            <div id="persone" class="content">
                                <p>
                                    <i>Come strutturo il mio sito web? Mi serve un sito di commercio elettronico? Basta una campagna di lead generation?
                                    Devo esserci su FaceBook? Google+, Pinterest... ma devo essere ovunque?</i>
                                </p>
                                <p>
                                    La domanda da farsi è: <strong>dove sono i miei clienti</strong>? Ma prima ancora: <strong>Chi sono i miei clienti?</strong>
                                </p>
                                <p>
                                    Conoscere i bisogni, le aspettative, il linguaggio delle persone a cui vi rivolgete. Tutto deve parlare a loro. Dategli un nome,un volto immaginateli sul vostro sito,
                                    chiedetevi se il sito risponde a loro, serve a loro risolve i loro dubbi.
                                </p>
                                <p>
                                    Conoscendo le persone a cui parlate saprete cosa dirgli, come dirlo, su che canali dirlo. Saprete dove sono, cosa fanno di cosa parlano ecc...
                                </p>
                                <p>
                                    <h6>
                                        <i>
                                            Parlare la lingua dei vostri clienti spiegando a loro, nei luoghi che frequentano, perchè il vostro prodotto è la soluzione ai loro problemi!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#inumeri"><h5><i class="fa fa-line-chart"></i> I numeri! Il supporto alle decisioni</h5></a>
                            <div id="inumeri" class="content">
                                <p>
                                    <i>Quale immagine è meglio scegliere? Quale banner è il migliore? Conviene spendere soldi su Facebook?
                                    Ogni scelta, ogni ipotesi deve essere supportata o verificata dai numeri.</i>
                                </p>
                                <p>
                                    <strong>Misurare</strong> è la parola d'ordine.
                                    Se una campagna pubblicitaria non è misurabile, non la facciamo, non la concepiamo neanche!
                                </p>
                                <p>
                                    Tutti portano dei numeri a supporto delle loro campagne. <strong>In pochi vi dicono quanto fatturato hanno generato le loro campagne</strong>
                                    Occorre dare i giusti numeri!
                                </p>
                                <p>
                                    4.000.000 di fans su Facebook sono molti? E' un successo avere 500.000 commenti ad un post? in termini assoluti si... sono numeri importanti ma la domanda da farsi è:
                                    Quanto fatturo al mese grazie ai 4.000.000 di fans e quanto mi costano?
                                </p>
                                <p>
                                    <h6>
                                        <i>
                                            Guardiamo ai numeri! Quanti ordini avete ricevuto grazie alle nostre campagne e quanto vi sono costate. Questo è quello che vi diremo sempre!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#seoSem"><h5><i class="fa fa-share-alt"></i> SEO, SEM, Social Network... Perché?</h5></a>
                            <div id="seoSem" class="content">
                                <p>
                                    <i>Vi occupate di SEO? Gestie campagne di Serach Engine Marketing (SEM)? Fate siti di commercio elettronico? Mi serve solo una landing page, le fate?
                                    Vorrei una campagna di Social Media Marketing, voi ve ne occupate?</i>
                                </p>
                                <p>
                                    Non c'è agenzia al mondo oggi che non faccia queste cose. <strong>Non c'è agenzia al mondo che non risponderà SI a tutte queste domande</strong>!
                                </p>

                                <p>
                                    <strong>Nessuno vi dirà mai che per voi è inutile mettere in piedi un sito di commercio elettronico oggi. Nessuno vi dirà mai che una campagna SEM nel vostro settore è solo un bagno di sangue.</strong>
                                    Nessuno vi dirà mai che senza i giusti contenuti è inutile che pensiate ad una presenza su Facebook. <strong>Nessuno vi dirà mai che quello che gli chiedete di fare è solo una perdita di tempo!</strong>
                                </p>

                                <p>
                                    Il nostro obiettivo è farvi fatturare spendendo il meno possibile. Per questo noi vi diremo di non buttare soldi in inutili campagne, vi sconsiglieremo di buttarvi in imprese che non vi porteranno a nulla.
                                </p>
                                <p>
                                    <h6>
                                        <i>
                                            Vi sconsiglieremo di fare il lavoro che ci chiedete di fare. Vi diremo dei no... perchè quello che ci sta a cuore è il successo delle nostre attività, non i soldi che ci date per farle!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#minimunViableProduct"><h5><i class="fa fa-flask"></i> MVP! Minimum viable product</h5></a>
                            <div id="minimunViableProduct" class="content">
                                <p>
                                    <i>Compreranno il mio prodotto? Riuscirò a vendere questo servizio? Qualcuno sarà mai interessato a quello che faccio? Non resta che provare, subito, adesso, senza perdere tempo.
                                    Se hai un'idea, la prima cosa da verificare è sen funziona.</i>
                                </p>
                                <p>
                                    Il web permette di mettere subito alla prova un'idea di prodotto o servizio. Con pochi euro è possibile mettere alla prova le proprie ipotesi!
                                </p>

                                <p>
                                    Non vi diremo mai che vi serve un'astronave quando vi basta una bicicletta per verificare se la vostra idea di business ha senso.
                                    Ci interessa i vostro successo, non il fatturato di un sito web!
                                </p>
                                <p>
                                    <h6>
                                        <i>
                                            Vi porteremo sempre a compiere il minimo passo indispensabile per migliorare i vostri risultati. Non serve correre, basta avere un buon passo!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#ipotesiMisurazione"><h5><i class="fa fa-refresh"></i> Ipotesi, Realizzazione, Misurazione!</h5></a>
                            <div id="ipotesiMisurazione" class="content">
                                <p>
                                    Insieme ai nostri clienti, formuliamo delle ipotesi, facciamo delle previsioni e prepariamo una strategia.
                                    <strong>Lavoriamo per mettere subito alla prova quanto ipotizzato, felici di essere smentiti e di dover ricominciare!</strong>
                                </p>

                                <p>
                                    Se un'idea si dimostra errata, ci fermiamo senza inutili sprechi di risorse. Se na idea ha successo, ci lavoriamo affinandola sempre si più.
                                    Siamo rapidi, veloci e pronti a cambiare. Sono i numeri a darci ragione o a darci torto, nessun orgoglio e nessuna presunzione!
                                </p>
                                <p>
                                    Dividamo il lavoro in cicli mensili o bimestrali. In questo modo abbiamo la possibilità di agire subito quando le ipotesi si dimostrano errate senza inutili sprechi di risorse.
                                </p>
                                <p>
                                    <h6>
                                        <i>Ipotesi, Realizzazione, Misurazione e ancora Ipotesi
                                            Nessuno spreco di risorese!
                                        </i>
                                    </h6>
                                </p>
                            </div>
                        </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

         <div class="row panel-evidenza">
            <div id="preventivi" class="large-12 columns">
            <hr>
                <div class="row">
                    <div class="large-4 columns">
                        <h3 class="subheader">Richiedi un preventivo Gratuito</h3>
                        <hr>

                        <div id="wufoo-m7p6q5">
                        Fill out my <a href="http://fucinadeltag.wufoo.com/forms/m7p6q5">online form</a>.
                        </div>
                        <script type="text/javascript">var m7p6q5;(function(d, t) {
                        var s = d.createElement(t), options = {
                        'userName':'fucinadeltag',
                        'formHash':'m7p6q5',
                        'autoResize':true,
                        'height':'701',
                        'async':true,
                        'header':'hide',
                        'ssl':false};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                        try { m7p6q5 = new WufooForm();m7p6q5.initialize(options);m7p6q5.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                        })(document, 'script');</script>

                    </div>

                    <div class="large-8 columns hide-for-small">
                    <h3 class="subheader">Perchè scegliere Fucina del Tag</h3>
                    <hr>
                    <ul class="large-block-grid-1 vantaggi">
                        <li>
                            1. <strong>Lavoriamo per il successo delle nostre campagne</strong>, non per i soldi che ci date per farle!
                        </li>
                        <li>
                            2. Se quello che volete da noi non vi porta successo, <strong>vi diciamo di NON farlo</strong>
                        </li>
                        <li>
                            3. <strong>Curiamo internamente tutti gli aspetti</strong> di una campagna marketing
                        </li>
                        <li>
                            4. <strong>Siamo incredibilmente agili</strong>. Programmatore, copy, art director, digital advertiser... abbiamo tutte le professionalità al nostro interno.
                        </li>
                        <li>
                            5. <strong>Gestiamo tutta la filiera</strong>, dalla produzione della creatività, alla gestione dei canali pubblicitari, alla tecnologia. Il tutto per il vostro successo.
                        </li>
                        <li>
                            6. <strong>Ci prendiamo le nostre responsabilità</strong>. Quando sbagliamo sappiamo ammetterlo e agire per rimediare.
                        </li>
                    </ul>

                    </div>
                </div>
            </div>
         </div>
         <footer class="row">
            <div class="large-12 columns">
               <hr>
               <div class="row">
                    <div class="large-12 columns">
                        <p>© 2013 Fucina del Tag - Via Ampère 61/A - P.Iva 03201900960</p>
                    </div>
               </div>
            </div>
         </footer>
    {% endblock %}
    {{ 'vendor/jquery.min.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    {{ 'foundation/foundation.orbit.js' | javascript_tag }}
    <!--
    {{ 'foundation.abide.js' | javascript_tag }}
    {{ 'foundation.accordion.js' | javascript_tag }}
    {{ 'foundation.alert.js' | javascript_tag }}
    {{ 'foundation.clearing.js' | javascript_tag }}
    {{ 'foundation.dropdown.js' | javascript_tag }}
    {{ 'foundation.interchange.js' | javascript_tag }}
    {{ 'foundation.joyride.js' | javascript_tag }}
    {{ 'foundation.js' | javascript_tag }}
    {{ 'foundation.magellan.js' | javascript_tag }}
    {{ 'foundation.offcanvas.js' | javascript_tag }}
    {{ 'foundation.orbit.js' | javascript_tag }}
    {{ 'foundation.reveal.js' | javascript_tag }}
    {{ 'foundation.tab.js' | javascript_tag }}
    {{ 'foundation.tooltip.js' | javascript_tag }}
    {{ 'foundation.topbar.js' | javascript_tag }}
    -->
    <script>
    $(document).foundation({
        accordion: {
                    multi_expand: true
                    }
    });
    </script>
  </body>
</html>
